db.sqlite3
app/__pycache__/
app/migrations/__pycache__/
*.pyc
static/vendor/
app/management/commands/create_expenses.py
app/management/commands/setup_db.py
app/migrations/
static/assets/
static/admin/
static/colorfield/
static/django_light/
