@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
body, html {
  font-family: "Ubuntu", sans-serif;
}

button {
  cursor: pointer;
  background-color: #0d6efd;
  color: white;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}
button:hover {
  background-color: #0257d5;
}

body, html {
  color: #525252;
}

/* Upper Section ******************************************************************************************************/
.upper-section {
  padding: 1em 0;
}
.upper-section .section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Middle Section *****************************************************************************************************/
.middle-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.middle-section .expenses-wrapper {
  width: 100%;
  text-align: center;
}
.middle-section .expenses-wrapper .expenses-toggle {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  font-weight: 100;
  font-size: 0.8em;
}
.middle-section .expenses-wrapper .expenses-toggle:hover {
  text-decoration: none !important;
}
.middle-section .expenses-wrapper .expenses-list {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 20em;
}
.middle-section .expenses-wrapper .expenses-list .expense-group {
  margin: 0.5em 0;
}
.middle-section .expenses-wrapper .expenses-list .expense-group .expense-group-title {
  font-weight: bold;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.middle-section .expenses-wrapper .expenses-list .expense-group .expense {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted;
}
/* Lower Section ******************************************************************************************************/
.lower-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lower-section .predictions-table {
  width: 100%;
  align-self: center;
}
.lower-section .predictions-table .years-to-project-form {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.lower-section .predictions-table .years-to-project-form a {
  text-decoration: none;
}
.lower-section .predictions-table .years-to-project-form .years-to-project-control {
  font-size: 1em;
  padding: 0.2rem 0.75rem;
  cursor: pointer;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}
.lower-section .predictions-table .years-to-project-form .years-to-project-control:hover {
  background-color: #0d6efd;
  color: white;
}
.lower-section .predictions-table .years-to-project-form form .form-row {
  text-align: center;
}
.lower-section .predictions-table .years-to-project-form form .form-row .form-row-inputs {
  display: flex;
  justify-content: center;
}
.lower-section .predictions-table .years-to-project-form form .form-row .form-row-inputs input,
.lower-section .predictions-table .years-to-project-form form .form-row .form-row-inputs button {
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 0.375rem 0 0 0.375rem;
}
.lower-section .predictions-table .years-to-project-form form .form-row .form-row-inputs input {
  max-width: 30px;
  border-right: 0;
  padding-right: 0;
}
.lower-section .predictions-table .years-to-project-form form .form-row .form-row-inputs button {
  border-radius: 0 0.375rem 0.375rem 0;
}
.lower-section .predictions-table table {
  border-spacing: 0;
  width: 100%;
}
@media (min-width: 780px) {
  .lower-section .predictions-table table {
    width: 60%;
  }
}
.lower-section .predictions-table table th, .lower-section .predictions-table table td {
  padding: 0.5em;
}
.lower-section .predictions-table table .predictions-headers th {
  font-weight: bold;
  text-align: left;
  border-bottom: 3px solid #ced4da;
}
.lower-section .predictions-table table .prediction-row.striped {
  background-color: #fafafb;
}

/* Utility stuff ******************************************************************************************************/
.value-with-label {
  display: flex;
  flex-direction: column;
  padding: 0.25em 0.5em;
  margin: 0.25em;
  text-align: center;
}
.value-with-label p {
  margin: 0 0.25em;
}
.value-with-label p:first-child {
  font-size: 1.75em;
}

.component-title, body, html, .middle-section .expenses-wrapper .expenses-list .expense-group .expense p, .value-with-label p {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none !important;
}

.upper-section .stats-section, .middle-section .expenses-wrapper, .lower-section .predictions-table, .lower-section .predictions-table .years-to-project-form, .lower-section .predictions-table table {
  margin: 0.5em auto;
}

.component-title {
  text-align: center;
  font-size: 1.5em;
}

.edit-field {
  cursor: pointer;
}
.edit-field-active, .edit-field:hover {
  color: #0d6efd;
  text-decoration: underline;
}

.edit-field-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25em 0.5em;
  background-color: white;
  border-radius: 0.25em;
  border: 1px solid #ced4da;
}
.edit-field-form label {
  font-size: 1.2em;
  word-break: break-all;
}
.edit-field-form input,
.edit-field-form button {
  margin-top: 0.25em;
  max-width: 5em;
}

/*# sourceMappingURL=main.css.map */
