@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
body, html {
  font-family: "Ubuntu", sans-serif;
}

a {
  color: white;
}

button, .edit-field-form input,
.edit-field-form button,
.edit-field-form .middle-section .transaction-controls div,
.middle-section .transaction-controls .edit-field-form div, .middle-section .transaction-controls div {
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  background-color: white;
}
button.active, .edit-field-form input.active,
.edit-field-form .middle-section .transaction-controls div.active,
.middle-section .transaction-controls .edit-field-form div.active, .middle-section .transaction-controls div.active, button:hover:not(input), .edit-field-form input:hover:not(input),
.edit-field-form .middle-section .transaction-controls div:hover:not(input),
.middle-section .transaction-controls .edit-field-form div:hover:not(input), .middle-section .transaction-controls div:hover:not(input) {
  background-color: #9400d3;
  color: white;
}

body, html {
  color: #525252;
}
@media (min-width: 780px) {
  body, html {
    padding: 0 1em !important;
  }
}

/* Upper Section ******************************************************************************************************/
.upper-section .admin-edit-link {
  font-size: 0.6em;
}
.upper-section .section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Middle Section *****************************************************************************************************/
.middle-section .transactions-toggle {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 100;
  font-size: 0.6em;
}
.middle-section .transactions-toggle:hover {
  text-decoration: none !important;
}
.middle-section .transactions-wrapper {
  max-width: 40em;
}
.middle-section .transactions-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.middle-section .transactions-body .transactions-list {
  padding: 0 1em;
  width: 18em;
  flex: 1;
}
.middle-section .transactions-body .transactions-list .transaction-group {
  margin: 0.5em 0;
}
.middle-section .transactions-body .transactions-list .transaction-group .transaction-group-title {
  font-weight: bold;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.middle-section .transactions-body .transactions-list .transaction-group .transaction {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted;
}
.middle-section .transaction-controls {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.middle-section .transaction-controls div {
  font-size: 0.7em;
  margin-right: 0.75em;
}

/* Lower Section ******************************************************************************************************/
.lower-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lower-section .predictions-table {
  width: 100%;
  align-self: center;
}
.lower-section .predictions-table .years-to-project-form {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.lower-section .predictions-table .years-to-project-form a {
  text-decoration: none;
  color: #525252;
}
.lower-section .predictions-table .years-to-project-form .years-to-project-control {
  font-size: 1em;
  padding: 0.2rem 0.75rem;
  cursor: pointer;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}
.lower-section .predictions-table .years-to-project-form .years-to-project-control:hover {
  background-color: #9400d3;
  color: white;
}
.lower-section .predictions-table .years-to-project-form .years-to-project-value {
  margin: 0 0.5em;
  font-size: 1.5em;
  line-height: 1.5em;
}
.lower-section .predictions-table table {
  border-spacing: 0;
  width: 100%;
}
@media (min-width: 780px) {
  .lower-section .predictions-table table {
    width: 70%;
  }
}
.lower-section .predictions-table table th, .lower-section .predictions-table table td {
  padding: 0.5em;
}
.lower-section .predictions-table table .predictions-headers th {
  font-weight: bold;
  text-align: left;
  border-bottom: 3px solid #ced4da;
}
.lower-section .predictions-table table .prediction-row:hover {
  background-color: #9400d3 !important;
  color: white;
}
.lower-section .predictions-table table .prediction-row.striped {
  background-color: #fafafb;
}

/* Utility stuff ******************************************************************************************************/
.edit-field-active, .edit-field:hover, .component .component-title, .value-with-label p:first-child {
  text-shadow: rgba(0, 0, 0, 0.1) 0 0.5px 0.5px;
}

.component .component-title {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}

.value-with-label {
  display: flex;
  flex-direction: column;
  padding: 0.25em 0.5em;
  margin: 0.25em;
  text-align: center;
}
.value-with-label p {
  margin: 0 0.25em;
}
.value-with-label p:first-child {
  font-size: 1.75em;
}

.component .component-title, body, html, .middle-section .transactions-body .transactions-list .transaction-group .transaction p, .value-with-label p {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none !important;
}

.component, .upper-section .stats-section, .lower-section .predictions-table table {
  margin: 0.5em auto;
}

.component .component-title {
  margin: 0 auto;
  padding: 0.2em 0;
  text-align: center;
  font-size: 1.25em;
  color: white !important;
  background: #9400d3;
}
@media (min-width: 780px) {
  .component .component-title {
    max-width: 30em;
    border-radius: 0.3em;
  }
}

.edit-field {
  cursor: pointer;
}
.edit-field-active, .edit-field:hover {
  color: white;
  text-decoration: underline;
  background-color: #9400d3;
}

.form-row select,
.form-row input, .add-transaction-form, .edit-field-form {
  padding: 0.25em 0.5em;
  background-color: white;
  border-radius: 0.25em;
  border: 1px solid #ced4da;
}

.edit-field-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-field-form label {
  font-size: 1.2em;
  color: #9400d3;
}
.edit-field-form input,
.edit-field-form button,
.edit-field-form .middle-section .transaction-controls div,
.middle-section .transaction-controls .edit-field-form div,
.edit-field-form .middle-section .transaction-controls div,
.middle-section .transaction-controls .edit-field-form div {
  margin-top: 0.25em;
  max-width: 10em;
}

.add-transaction-form {
  position: absolute;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin: 0.25em auto;
}
.form-row label {
  margin-bottom: 0.25em;
  font-size: 0.8em;
}
.form-row select,
.form-row input {
  padding: 0.5em 0.25em;
}
.form-row select {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
