// Colors
$black: rgb(82, 82, 82)
$blue: #0d6efd
$grey: #ced4da
$purple: #9400d3

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap')
%main-font
  font-family: 'Ubuntu', sans-serif

// Breakpoints
$small-breakpoint: 780px

// Universal stuff
a
  color: $purple

button
  cursor: pointer
  background-color: $purple
  color: white
  padding: 0.375rem 0.75rem
  font-weight: 400
  border: 1px solid $grey
  border-radius: 0.375rem

  &:hover
    background-color: darken($purple, 10%)

body, html
  @extend %no-padding-margin
  @extend %main-font
  color: $black

/* Upper Section ******************************************************************************************************/
.upper-section
  .admin-edit-link
    font-size: 0.6em

  .stats-section
    @extend %component-margins

  .section-content
    display: flex
    flex-wrap: wrap
    justify-content: center


/* Middle Section *****************************************************************************************************/
.middle-section
  .expenses-wrapper
    width: 100%

    .expenses-toggle
      cursor: pointer
      text-decoration: underline
      font-weight: 100
      color: $purple
      font-size: 0.6em

      &:hover
        text-decoration: none !important

    .expenses-list
      margin: 0 auto
      padding: 0 1em
      max-width: 20em

      .expense-group
        margin: .5em 0

        .expense-group-title
          font-weight: bold
          text-align: left
          display: flex
          justify-content: space-between

        .expense
          display: flex
          justify-content: space-between
          border-bottom: 1px dotted

          p
            @extend %no-padding-margin

/* Lower Section ******************************************************************************************************/
.lower-section
  display: flex
  flex-direction: column
  justify-content: center

  .predictions-table
    width: 100%
    align-self: center

    .years-to-project-form
      display: flex
      justify-content: center
      align-items: baseline

      a
        text-decoration: none

      .years-to-project-control
        font-size: 1em
        padding: 0.2rem 0.75rem
        cursor: pointer
        border: 1px solid $grey
        border-radius: 0.375rem

        &:hover
          background-color: $purple
          color: white

      .years-to-project-value
        margin: 0 .5em
        font-size: 1.4em
        line-height: 1.5em

    table
      @extend  %component-margins
      border-spacing: 0
      width: 100%

      @media(min-width: $small-breakpoint)
        width: 60%

      th, td
        padding: .5em

      .predictions-headers
        th
          font-weight: bold
          text-align: left
          border-bottom: 3px solid $grey

      .prediction-row
        &.striped
          background-color: lighten($grey, 15%)

/* Utility stuff ******************************************************************************************************/
// Value with label
.value-with-label
  display: flex
  flex-direction: column
  padding: 0.25em 0.5em
  margin: .25em
  text-align: center

  p
    @extend %no-padding-margin
    margin: 0 0.25em

    &:first-child
      font-size: 1.75em

%no-padding-margin
  padding: 0
  margin: 0

.hidden
  display: none !important

%component-margins
  margin: .5em auto

.component
  @extend %component-margins

  .component-title
    @extend %no-padding-margin
    text-align: center
    font-size: 1.5em

.edit-field
  cursor: pointer
  &:hover
    @extend .edit-field-active

.edit-field-active
  color: $purple
  text-decoration: underline

.edit-field-form
  position: absolute
  display: flex
  flex-direction: column
  align-items: center
  padding: .25em .5em
  background-color: white
  border-radius: .25em
  border: 1px solid $grey

  label
    font-size: 1.2em
    color: $purple
  input,
  button
    margin-top: .25em
    max-width: 10em
