// Colors
$black: rgb(82, 82, 82)

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')

body, html
  @extend %no-padding-margin
  color: $black
  font-family: 'Roboto', sans-serif


/* Upper Section ******************************************************************************************************/
.upper-section
  display: flex
  justify-content: center
  padding: 1em 0

  .overview-section
    margin: 0 1em
    max-width: 30em
    text-align: center

    .section-values
      display: flex
      flex-wrap: wrap
      justify-content: center

/* Middle Section *****************************************************************************************************/
.middle-section
  display: flex
  flex-direction: column
  align-items: flex-start

  .years-to-project-form
    @extend %component-margins

    form
      .form-row
        .form-row-inputs
          display: flex
          justify-content: center
          input
            max-width: 50px
          button
            cursor: pointer

  .expenses-wrapper
    @extend %component-margins
    width: 100%
    text-align: center

    .expenses-toggle
      cursor: pointer
      text-decoration: underline
      color: blue
      font-weight: 100
      font-size: 0.8em

      &:hover
        text-decoration: none !important

    .expenses-list
      margin: 0 auto
      padding: 0 1em
      max-width: 20em

      .expense-group
        margin: .5em 0

        .expense-group-title
          font-weight: bold
          text-align: left

        .expense
          display: flex
          justify-content: space-between
          border-bottom: 1px dotted

          p
            @extend %no-padding-margin

/* Lower Section ******************************************************************************************************/
.lower-section
  display: flex
  flex-direction: column
  justify-content: center

  .predictions-table
    @extend %component-margins
    align-self: center

    table
      th, td
        padding: 0 1em

      .predictions-headers
        th
          font-weight: bold
          text-align: left

      .prediction-row
        td


/* Utility stuff ******************************************************************************************************/
// Value with label
.value-with-label
  display: flex
  flex-direction: column
  padding: 0.25em 0.5em
  margin: .25em
  text-align: center

  p
    @extend %no-padding-margin
    margin: 0 0.25em

    &:first-child
      font-size: 1.75em
    &:last-child

%no-padding-margin
  padding: 0
  margin: 0

.hidden
  display: none !important

%component-margins
  margin: .5em auto

.component-title
  @extend %no-padding-margin
  font-weight: bold
  text-align: center
  font-size: 1.25em