// Colors
$black: rgb(82, 82, 82)
$blue: #0d6efd
$grey: #ced4da
$dark-grey: lighten($black, 20)
$purple: #9400d3

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap')
%main-font
  font-family: 'Ubuntu', sans-serif

// Breakpoints
$small-breakpoint: 780px

// Universal stuff
a
  color: white

button
  cursor: pointer
  padding: 0.375rem 0.75rem
  font-weight: 400
  border: 1px solid $grey
  border-radius: 0.375rem
  background-color: white

  &.active,
  &:hover:not(input)
    background-color: $purple
    color: white

body, html
  @extend %no-padding-margin
  @extend %main-font
  color: $black
  @media (min-width: $small-breakpoint)
    padding: 0 1em !important

/* Upper Section ******************************************************************************************************/
.upper-section
  .admin-edit-link
    font-size: 0.6em

/* Middle Section *****************************************************************************************************/
.middle-section
  .transactions-body
    display: flex
    margin: 0 auto
    flex-wrap: wrap
    max-width: 40em

    .transactions-list
      padding: 0 1em
      width: 18em
      flex: 1

      .transaction-list-title
        margin-top: 0.5em
        padding: 0.2em 1em
        border-radius: .75em
        background-color: $dark-grey
        color: white
        @extend %text-shadow
        @extend %box-shadow

      .transaction-group
        margin: .5em 0

        .transaction-group-title
          font-weight: bold
          text-align: left
          display: flex
          justify-content: space-between

        .transaction
          display: flex
          justify-content: space-between
          border-bottom: 1px dotted
          &:last-child
            border-bottom: none

            p:last-of-type
              border-top: 2px solid $dark-grey
              margin-top: -1px
              padding: .25em 0

          p
            @extend %no-padding-margin

          .transaction-amount
            display: flex
            &:hover
              .edit-field
                display: block !important

            .multiplier-symbol
              margin: 0 .25em

  .transaction-controls
    display: flex
    align-items: center
    flex-direction: row-reverse
    width: 100%

    div
      @extend button
      font-size: 0.7em
      margin-right: 0.75em

  .stats-section
    @extend %component-margins

/* Lower Section ******************************************************************************************************/
.lower-section
  display: flex
  flex-direction: column
  justify-content: center

  .predictions-table
    width: 100%
    align-self: center

    .years-to-project-form
      display: flex
      justify-content: center
      align-items: baseline

      a
        text-decoration: none
        color: $black

      .years-to-project-control
        font-size: 1em
        padding: 0.2rem 0.75rem
        cursor: pointer
        border: 1px solid $grey
        border-radius: 0.375rem

        &:hover
          background-color: $purple
          color: white

      .years-to-project-value
        margin: 0 .5em
        font-size: 1.5em
        line-height: 1.5em

    table
      @extend  %component-margins
      border-spacing: 0
      width: 100%

      @media(min-width: $small-breakpoint)
        width: 70%

      th, td
        padding: .5em

      .predictions-headers
        th
          font-weight: bold
          text-align: left
          border-bottom: 3px solid $grey

      .prediction-row
        &:hover
          background-color: $purple !important
          color: white

        &.striped
          background-color: lighten($grey, 15%)

/* Utility stuff ******************************************************************************************************/
%text-shadow
  text-shadow: rgba(0, 0, 0, 0.1) 0 0.5px 0.5px

%box-shadow
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15)

// Value with label
.value-with-label
  display: flex
  flex-direction: column
  padding: 0.25em 0.5em
  margin: .25em
  text-align: center

  p
    @extend %no-padding-margin
    margin: 0 0.25em

    &:first-child
      font-size: 1.75em
      @extend %text-shadow

%no-padding-margin
  padding: 0
  margin: 0

.hidden
  display: none !important

%component-margins
  margin: .5em auto

.section-content
    display: flex
    flex-wrap: wrap
    justify-content: center

.component
  @extend %component-margins

  .component-title
    @extend %no-padding-margin
    @extend %text-shadow
    @extend %box-shadow
    margin: 0 auto
    padding: .2em 0
    text-align: center
    font-size: 1.25em
    color: white !important
    background: $purple
    @media (min-width: $small-breakpoint)
      max-width: 30em
      border-radius: 0.3em

.edit-field
  cursor: pointer
  &:hover
    @extend .edit-field-active

.edit-field-active
  @extend %text-shadow
  color: white
  text-decoration: underline
  background-color: $purple

%generic-card-styling
  padding: .25em .5em
  background-color: white
  border-radius: .25em
  border: 1px solid $grey

.edit-field-form
  position: absolute
  display: flex
  flex-direction: column
  align-items: center
  @extend %generic-card-styling

  label
    font-size: 1.2em
    color: $purple
  input,
  button
    @extend button
    margin-top: .25em
    max-width: 10em

.add-transaction-form
  position: absolute
  @extend %generic-card-styling

.form-row
  display: flex
  flex-direction: column
  margin: .25em auto
  label
    margin-bottom: .25em
    font-size: 0.8em
  select,
  input
    padding: 0.5em 0.25em
    @extend %generic-card-styling
  select
    cursor: pointer
