{% load static %}
{% load djmoney %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Net Income Calculator</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    {% block extrahead %}{% endblock %}
</head>

<body>
    {% block content %}
        {% if user %}
            {% include 'upper_section.html' %}
            {% include 'middle_section.html' %}
            {% include 'lower_section.html' %}
        {% else %}
            <h1>No User created yet!</h1>
        {% endif %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
        jsConfig.updateEditFieldsUrl = '{% url 'update-edit-fields' %}';
        jsConfig.init();
    </script>
</body>
</html>