{% if transaction %}
<form class="edit-transaction-form" method="post" action="{% url 'edit-transaction' transaction_id=transaction.id %}" data-id="{{ transaction.id }}">
{% else %}
<form class="edit-transaction-form" method="post" action="{% url 'edit-transaction' %}">
{% endif %}
    {% csrf_token %}

    <div class="edit-transaction-form-upper">
        <div data-action="close" class="edit-transaction-action form-close">X</div>
        {% if transaction %}
        <div class="edit-transaction-form-controls">
            <div class="edit-transaction-action" data-action="delete" data-id="{{ transaction.id }}">Delete</div>
         </div>
        {% endif %}
    </div>

    {{ form.as_p }}
    <button class="edit-transaction-form-submit" type="submit">Submit</button>
</form>