{% if transaction %}
<form class="edit-transaction-form" method="post" action="{% url 'edit-transaction' transaction_id=transaction.id %}" data-id="{{ transaction.id }}">
{% else %}
<form class="edit-transaction-form" method="post" action="{% url 'edit-transaction' %}">
{% endif %}
    {% csrf_token %}

    <div class="edit-transaction-form-upper">
        <div data-action="close" class="edit-transaction-action form-close">X</div>
        <div class="edit-transaction-form-controls">
            {% if transaction %}
            <div class="edit-transaction-action" data-action="delete" data-id="{{ transaction.id }}">Delete</div>
            {% endif %}
            <div class="edit-transaction-action" data-action="add-group">Add Group</div>
         </div>
    </div>

    {{ transaction_form.as_p }}

    <div class="add-group-form-wrapper hidden">
        {{ add_group_form.as_p }}
    </div>

    <button class="edit-transaction-form-submit" type="submit">Submit</button>
</form>