{% load app_extras %}

<div class="transactions-list">
    <div class="transaction-list-title">
        {% if transaction_type == 'in' %}
            Monthly Income
        {% else %}
            Monthly Expenses
        {% endif %}
    </div>
    {% for group, data in transaction_groups.items %}
    <div class="transaction-group">
        <div class="transaction-group-title">
            <span>{{ group.name }}</span>
        </div>

        {% for transaction in data.transactions %}
        <div class="transaction {% if transaction.muted %}muted{% endif %}" data-id="{{ transaction.id }}">
            <div class="transaction-name">
                <p>{{ transaction }}</p>
            </div>

            <div class="transaction-amount">
                <p>{{ transaction.amount|money_format }}</p>

                <p class="edit-field {% if transaction.multiplier == 1 %} hidden{% endif %}">
                    <span class="multiplier-symbol">x</span>
                    {{ transaction.multiplier }}
                </p>
            </div>
        </div>
        {% endfor %}

        <!-- Group Total -->
        <div class="transaction group-total">
            <div class="transaction-name"></div>
            <div class="transaction-amount">
                <p>{{ data.group_total|money_format }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>