{% load app_extras %}

<!-- Expenses -->
<div class="component expenses-wrapper">
    <div class="component-title">Expenses <a class="expenses-toggle">{% if request.user.collapse_expenses %}Expand{% else %}Collapse{% endif %}</a></div>

    <div class="expenses-list {% if request.user.collapse_expenses %}hidden{% endif %}">
        {% with expense_groups=user.get_expenses_by_group %}
        {% for group, expenses in expense_groups.items %}
            <div class="expense-group">
                <div class="expense-group-title">
                    <span class="edit-field"
                          data-type="text"
                          data-model="expense_group"
                          data-label="Group Name"
                          data-field="name"
                          data-id="{{ group.id }}"
                          data-current-value="{{ group.name }}">{{ group.name }}</span>

                    {% if forloop.counter == 1 %}
                    <span>Monthly Expense</span>
                    {% endif %}
                </div>

                {% for expense in expenses %}
                <div class="expense" data-id="{{ expense.id }}">
                    <p class="edit-field"
                       data-type="text"
                       data-model="expense"
                       data-label="{{ expense }}"
                       data-field="name"
                       data-id="{{ expense.id }}"
                       data-current-value="{{ expense.name }}">{{ expense }}</p>
                    <p class="edit-field"
                       data-type="decimal"
                       data-model="expense"
                       data-label="{{ expense }} amount"
                       data-field="amount"
                       data-id="{{ expense.id }}"
                       data-current-value="{{ expense.amount }}">{{ expense.amount|money_format }}</p>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
        {% endwith %}

        <div class="expense-controls">
            <div id="add-expense-btn">+ Add Expense</div>
        </div>
    </div>
</div>