{% load djmoney %}

<!-- Expenses -->
<div class="expenses-wrapper">
    <div class="component-title">Expenses <span class="expenses-toggle">Expand</span></div>

    <div class="expenses-list hidden">
        {% with expense_groups=user.get_expenses_by_group %}
        {% for group, expenses in expense_groups.items %}
            <div class="expense-group">
                <div class="expense-group-title">{{ group }}</div>

                {% for expense in expenses %}
                <div class="expense" data-id="{{ expense.id }}">
                    <p>{{ expense }}</p>
                    <p>{% money_localize expense.amount %}</p>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
        {% endwith %}
    </div>
</div>