{% load djmoney %}

<!-- Expenses -->
<div class="expenses-wrapper">
    <div class="component-title">Expenses <span class="expenses-toggle">Collapse</span></div>

    <div class="expenses-list">
        {% with expense_groups=user.get_expenses_by_group %}
        {% for group, expenses in expense_groups.items %}
            <div class="expense-group">
                <div class="expense-group-title">
                    <span>{{ group }}</span>

                    {% if forloop.counter == 1 %}
                        <span>Monthly Expense</span>
                    {% endif %}
                </div>

                {% for expense in expenses %}
                <div class="expense" data-id="{{ expense.id }}">
                    <p class="edit-field"
                       data-type="text"
                       data-model="expense"
                       data-label="{{ expense }}"
                       data-field="name"
                       data-id="{{ expense.id }}"
                       data-current-value="{{ expense.name }}">{{ expense }}</p>
                    <p class="edit-field"
                       data-type="number"
                       data-model="expense"
                       data-label="{{ expense }} amount"
                       data-field="amount"
                       data-id="{{ expense.id }}"
                       data-current-value="{{ expense.amount }}">{% money_localize expense.amount %}</p>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
        {% endwith %}
    </div>
</div>