{% load app_extras %}

<div class="component">
    <div class="stats-section">
        <div class="section-content">
            <div class="value-with-label">
                <p>{{ user.get_income_calculations.total_monthly_income|money_format }}</p>
                <p>Total Monthly Income</p>
            </div>

            <div class="value-with-label">
                <p>{{ user.get_income_calculations.total_monthly_expenses|money_format }}</p>
                <p>Total Monthly Expenses</p>
            </div>

            <div class="value-with-label">
                <p>{{ user.get_income_calculations.net_monthly_income|money_format }}</p>
                <p>Net Monthly Income</p>
            </div>
        </div>
    </div>
</div>