{% load djmoney %}

<div class="stats-section">
    <div class="component-title">Stats</div>

    <div class="section-content">
        <div class="value-with-label">
            <p>{% money_localize user.get_income_calculations.total_monthly_expenses %}</p>
            <p>Total Monthly Expenses</p>
        </div>

        <div class="value-with-label">
            <p class="edit-field"
              data-type="number"
              data-model="user"
              data-label="Total Monthly Income"
              data-field="income_one_month"
              data-id="{{ user.id }}"
              data-current-value="{{ user.income_one_month }}">{% money_localize user.income_one_month %}</p>
            <p>Total Monthly Income</p>
        </div>

        <div class="value-with-label">
            <p>{% money_localize user.get_income_calculations.net_monthly_income %}</p>
            <p>Net Monthly Income</p>
        </div>
    </div>
</div>