{% load app_extras %}

<div class="transactions-list">
    {% for group, transactions in transaction_groups.items %}
    <div class="transaction-group">
        <div class="transaction-group-title">
            <span class="edit-field"
                  data-type="text"
                  data-group_type="{{ group.type }}"
                  data-model="expense_group"
                  data-label="Group Name"
                  data-field="name"
                  data-id="{{ group.id }}"
                  data-current-value="{{ group.name }}">{{ group.name }}</span>

            {% if forloop.counter == 1 %}
            <span>Monthly {{ group.get_type_display }}</span>
            {% endif %}
        </div>

        {% for transaction in transactions %}
        <div class="transaction" data-id="{{ transaction.id }}">
            <p class="edit-field"
               data-type="text"
               data-transation-type="{{ transaction.type }}"
               data-model="monthly_transaction"
               data-label="{{ transaction }}"
               data-field="name"
               data-id="{{ transaction.id }}"
               data-current-value="{{ transaction.name }}">{{ transaction }}</p>
            <p class="edit-field"
               data-type="decimal"
               data-model="monthly_transaction"
               data-label="{{ transaction }} amount"
               data-field="amount"
               data-id="{{ transaction.id }}"
               data-current-value="{{ transaction.amount }}">{{ transaction.amount|money_format }}</p>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>